*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor-pricipal{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
 height: 100vh;
 background-color: #f5f6fa;
 font-family: 'Roboto', sans-serif;

}